<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Katayuno App</title>
  </head>
  <body>
    <ul>
      <% @katas.each do |kata| %>
        <li><%= link_to(kata.title, kata_path(kata.id)) %></li>
      <% end %>
    </ul>
  </body>
</html>
